In [18]:
import pandas as pd
data = pd.read_csv('train.csv')

In [47]:
data[:5]

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
0,1,2596,51,3,258,0,510,221,232,148,...,0,0,0,0,0,0,0,0,0,5
1,2,2590,56,2,212,-6,390,220,235,151,...,0,0,0,0,0,0,0,0,0,5
2,3,2804,139,9,268,65,3180,234,238,135,...,0,0,0,0,0,0,0,0,0,2
3,4,2785,155,18,242,118,3090,238,238,122,...,0,0,0,0,0,0,0,0,0,2
4,5,2595,45,2,153,-1,391,220,234,150,...,0,0,0,0,0,0,0,0,0,5

data.Cover_Type.unique()

In [32]:
data.Cover_Type.unique()#Итого у нас всего 7 видов лесного покрова

array([5, 2, 1, 7, 3, 6, 4], dtype=int64)

In [41]:
#у нас есть дохуя столбцов под названием СоилТайп, стоит проверить нужны ли они или нахуй их
data_for_drop = data['Soil_Type1'].value_counts()
data_for_drop
#что-то есть
a = 'l'
b = 'f'
c = 'l' + 'f'
c

'lf'

In [40]:
#Думаю,что произошло выше понятно и из этого мы можем сделать функцию, которая проверит все остальные типы и сделаем из этого массив

In [83]:
droppin = [] #Массив куда будем записывать
j = 'Soil_Type'
k = 0
#лишние переменные никогда не помешают, их можно создатвать прямо в функции, тогда они не будут глоабльными, что хорошо, но для 
#наглядности я создам
def soil_check(n):
    for i in range(1 , n):
        axis = data[j + str(i)].value_counts() 
        droppin.append(axis)
n = 40
soil_check(40)

In [84]:
droppin#как можно видеть везде два вида 0 или 1, хз, что это дает, но пока рано выкидвать их нахуй.

[0    14765
 1      355
 Name: Soil_Type1, dtype: int64, 0    14497
 1      623
 Name: Soil_Type2, dtype: int64, 0    14158
 1      962
 Name: Soil_Type3, dtype: int64, 0    14277
 1      843
 Name: Soil_Type4, dtype: int64, 0    14955
 1      165
 Name: Soil_Type5, dtype: int64, 0    14470
 1      650
 Name: Soil_Type6, dtype: int64, 0    15120
 Name: Soil_Type7, dtype: int64, 0    15119
 1        1
 Name: Soil_Type8, dtype: int64, 0    15110
 1       10
 Name: Soil_Type9, dtype: int64, 0    12978
 1     2142
 Name: Soil_Type10, dtype: int64, 0    14714
 1      406
 Name: Soil_Type11, dtype: int64, 0    14893
 1      227
 Name: Soil_Type12, dtype: int64, 0    14644
 1      476
 Name: Soil_Type13, dtype: int64, 0    14951
 1      169
 Name: Soil_Type14, dtype: int64, 0    15120
 Name: Soil_Type15, dtype: int64, 0    15006
 1      114
 Name: Soil_Type16, dtype: int64, 0    14508
 1      612
 Name: Soil_Type17, dtype: int64, 0    15060
 1       60
 Name: Soil_Type18, dtype: int64, 0    15074
 1       46
 Name: Soil_Type19, dtype: int64, 0    14981
 1      139
 Name: Soil_Type20, dtype: int64, 0    15104
 1       16
 Name: Soil_Type21, dtype: int64, 0    14775
 1      345
 Name: Soil_Type22, dtype: int64, 0    14363
 1      757
 Name: Soil_Type23, dtype: int64, 0    14863
 1      257
 Name: Soil_Type24, dtype: int64, 0    15119
 1        1
 Name: Soil_Type25, dtype: int64, 0    15066
 1       54
 Name: Soil_Type26, dtype: int64, 0    15105
 1       15
 Name: Soil_Type27, dtype: int64, 0    15111
 1        9
 Name: Soil_Type28, dtype: int64, 0    13829
 1     1291
 Name: Soil_Type29, dtype: int64, 0    14395
 1      725
 Name: Soil_Type30, dtype: int64, 0    14788
 1      332
 Name: Soil_Type31, dtype: int64, 0    14430
 1      690
 Name: Soil_Type32, dtype: int64, 0    14504
 1      616
 Name: Soil_Type33, dtype: int64, 0    15098
 1       22
 Name: Soil_Type34, dtype: int64, 0    15018
 1      102
 Name: Soil_Type35, dtype: int64, 0    15110
 1       10
 Name: Soil_Type36, dtype: int64, 0    15086
 1       34
 Name: Soil_Type37, dtype: int64, 0    14392
 1      728
 Name: Soil_Type38, dtype: int64, 0    14463
 1      657
 Name: Soil_Type39, dtype: int64]

In [87]:
#загрузим тестовую выборку и посмотрим, что там
test_data = pd.read_csv('test.csv')

In [88]:
test_data[:5]

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type31,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40
0,15121,2680,354,14,0,0,2684,196,214,156,...,0,0,0,0,0,0,0,0,0,0
1,15122,2683,0,13,0,0,2654,201,216,152,...,0,0,0,0,0,0,0,0,0,0
2,15123,2713,16,15,0,0,2980,206,208,137,...,0,0,0,0,0,0,0,0,0,0
3,15124,2709,24,17,0,0,2950,208,201,125,...,0,0,0,0,0,0,0,0,0,0
4,15125,2706,29,19,0,0,2920,210,195,115,...,0,0,0,0,0,0,0,0,0,0

In [89]:
#Собственно, здесь все тоже самое, только без типа, что нам и требуется определить.Скорее всего нужно будет идти по каждому
#столбцу, но можно поиграться с двумя тремя и уже скакать от них.